*:focus {
    outline:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

[contenteditable]:hover {
    background-color: rgba(200,200,200,0.1)
}

input {

    &[type=text],
    &[type=password],
    &[type=email],
    &[type=file],
    &[type=date],
    &[type=color],
    &[type=number],
    &[type=month],
    &[type=search],
    &[type=tel],
    &[type=time],
    &[type=url],
    &[type=week],
    &[type=datetime-local],
    &[type=range] {
        position:relative;
        width: 100%;
        height: 2.188rem;
        font:inherit;
        padding:0 1.2rem;
        border:none;
        font-size: 0.9em;
    }

    &.rounded {
        border-radius: 1.2rem;
        padding:0 1.2rem;
    }

    &.rounded-left {
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }

    &.rounded-right {
        border-top-right-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
    }


    &.thick {
        height: 3rem;
        padding: 0 1.2rem;

        &.rounded {
            border-radius: 1.5rem;
        }

        &.rounded-left {
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

        &.rounded-right {
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

    }

    &.border {
        border: 1px solid #f2f2f2;
    }

}

label.indent {
    padding-left: 1.2rem;
}

textarea {
    width:100%;
    min-height: 2.188rem;
    font:inherit;
    color:inherit;
    padding: 1rem 1.2rem;
    border: none;
    resize:none;
    font-size: 0.9em;

    .resize {
        resize: vertical;
    }

    &.rounded {
        border-radius: 1.2rem;
        padding:1rem 1.2rem;
    }

    &.rounded-left {
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }

    &.rounded-right {
        border-top-right-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
    }


    &.thick {
        min-height: 3rem;
        padding: 1rem 1.2rem;

        &.rounded {
            border-radius: 1.5rem;
        }

        &.rounded-left {
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

        &.rounded-right {
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

    }

    &.border {
        border: 1px solid #f2f2f2;
    }
}

input[type=radio].styled, input[type=checkbox].styled {
    display:none;
}

input[type=radio] + label:before {
    border-radius:1rem;
}

input[type=radio]:checked + label:before {
    border-radius:1rem;
    background:#aaa;
}

input[type=checkbox]:checked + label:before {
    background:#aaa;
}

select.valid,input.valid,textarea.valid {
    border:1px solid rgb(72, 222, 72)
}

select.invalid,input.invalid,textarea.invalid {
    border:1px solid rgb(222, 72, 72)
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    height: 2.188rem;
    font:inherit;
    padding:0 1.2rem;
    border:none;
    border-radius: 0;
    font-size: 0.9em;
    width: 100%;
    background-color: white;
    background-image: linear-gradient(45deg, transparent 50%, #ccc 50%), linear-gradient(135deg, #ccc 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 1.16rem) 1rem, calc(100% - 0.9rem) 1rem, calc(100% - 1.5rem) 1rem;
    background-size: 0.3rem 0.3rem, 0.3rem 0.3rem, 1px 0;
    background-repeat: no-repeat;

    &.rounded {
        border-radius: 1.2rem;
        padding:0 1.2rem;
    }

    &.rounded-left {
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }

    &.rounded-right {
        border-top-right-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
    }


    &.thick {
        height: 3rem;
        padding: 0 1.2rem;
        background-position: calc(100% - 1.8rem) 1.4rem, calc(100% - 1.4rem) 1.4rem, calc(100% - 1.5rem) 1rem;
        background-size: 0.4rem 0.4rem, 0.4rem 0.4rem, 1px 0;

        &.rounded {
            border-radius: 1.5rem;
        }

        &.rounded-left {
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

        &.rounded-right {
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

    }

    &.border {
        border: 1px solid #f2f2f2;
    }

}

input.disabled {
    pointer-events:none;
    color:#ccc;
}

.validation {
    background:#ddd;
    position:relative;
    top:0.2rem;
    float:right;
    width:20%;
    border:1px solid #ccc;
    border-left:none;
    border-top-right-radius:1rem;
    border-bottom-right-radius:1rem;
    padding:0.7rem;
    text-align:center;
    font-size:inherit;
    color:#aaa;
}

ul.dropdown {
    position:relative;
    margin:0.7rem 0 0.7rem 0;
    top:-0.5rem;
    padding:0.7rem;
    font:inherit;
    color:inherit;
    border:1px solid #ccc;
    background:white;
    z-index:999;
    cursor:pointer;
}

ul.dropdown li {
    list-style-type:none;
    margin:0;
    padding:1rem;
    width:100%;
    background:#fff;
    cursor:pointer;
}

ul.dropdown li:hover {
}

ul.dropdown li a {
    color:inherit;
}

ul.dropdown .arrow {
    position:absolute;
    float:right;
}

ul.dropdown .pulldown {
    position:absolute;
    left:-1px;
    top:2.7rem;
    width:100.5%;
    display:none;
    background:#fff;
    margin-bottom:3rem;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    z-index:999;
    max-height:30rem;
    overflow-y:auto;
}

form .text-right p {
    margin-top:0.6rem;
}
