.background {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:auto;
    z-index:0;
}

.background.middle {
    position:absolute;
    top:-100%;
}

.background + * {
    z-index:1
}

div.background {
    height:100%;
}

.fold {
    position:relative;
    display:block;
    width:100vw;
    min-height:100vh;
    overflow:hidden;
}

.hero {
    position:relative;
    display:block;
    width:100vw;
    min-height:90vh;
    overflow:hidden;
}

@include small {
    .hero {
        min-height:40vh;
    }
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.width-auto, .wa {
    width:auto;
}

.width-full, .w-100 {
    width:100%;
}

.height-full, .h-100, .fh-100 {
    height:100%;
}

.width-half,  {
    width:50%;
}

.height-auto, .ha {
    height:auto;
}

.height-half, .h-50 {
    height:50%;
}

.contain, .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    .contain, .container, &-thin {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@for $i from 1 through 20 {

    $value: $i * 5;

    .h-#{$value} {
        height: #{0% + $value};
    }

    .w-#{$value} {
        width: #{0% + $value};
    }

    .vh-#{$value} {
        height: #{0vh + $value};
    }

    .vw-#{$value} {
        width: #{0vw + $value};
    }

}

@include medium {

    @for $i from 1 through 20 {

        $value: $i * 5;

        .h-m-#{$value} {
            height: #{0% + $value};
        }

        .w-m-#{$value} {
            width: #{0% + $value};
        }

        .vh-m-#{$value} {
            height: #{0vh + $value};
        }

        .vw-m-#{$value} {
            width: #{0vw + $value};
        }

    }

}

@include small {

    @for $i from 1 through 20 {

        $value: $i * 5;

        .h-s-#{$value} {
            height: #{0% + $value};
        }

        .w-s-#{$value} {
            width: #{0% + $value};
        }

        .vh-s-#{$value} {
            height: #{0vh + $value};
        }

        .vw-s-#{$value} {
            width: #{0vw + $value};
        }

    }

}

.relative {
    position:relative;
}

.absolute {
    position:absolute;
}

.sticky {
    position:sticky;
}

img.absolute {
    position: absolute
}

 .fixed {
    position:fixed;
}

.fixed.top.left {
    position:fixed;
    top:0px;
    left:0px;
}

.fixed.top.right {
    position:fixed;
    top:0px;
    right:0px;
}

.fixed.bottom.left {
    position:fixed;
    bottom:0px;
    left:0px;
}

.fixed.bottom.right {
    position:fixed;
    bottom:0px;
    right:0px;
}

.fixed.bottom.right {
    position:fixed;
    bottom:0px;
    right:0px;
}

.absolute.bottom.left {
    position:absolute;
    bottom:0px;
    left:0px;
}

.absolute.bottom.right {
    position:absolute;
    bottom:0px;
    right:0px;
}

.absolute.left {
    position:absolute;
    left:0px;
}

.absolute.top.left {
    position:absolute;
    top:0px;
    left:0px;
}

.absolute.top.right {
    position:absolute;
    top:0px;
    right:0px;
}

@for $i from 1 through 10 {

    .layer-#{$i} {
        z-index: #{$i};
    }

}

.layer-top {
    position:relative;
    z-index:800;
}

.absolute.layer0, .absolute .layer0 {
    position:absolute;
    z-index:-1;
}

.absolute.layer1, .absolute .layer1 {
    position:absolute;
    z-index:0;
}

.absolute.layer2, .absolute .layer2 {
    position:absolute;
    z-index:10;
}

.absolute.layer3, .absolute .layer3 {
    position:absolute;
    z-index:20;
}

.absolute.layer-top, .absolute .layer-top {
    position:absolute;
    z-index:800;
}

.fixed.layer0, .fixed .layer0 {
    position:fixed;
    z-index:-1;
}

.fixed.layer1, .fixed .layer1 {
    position:fixed;
    z-index:0;
}

.fixed.layer2, .fixed .layer2 {
    position:fixed;
    z-index:10;
}

.fixed.layer3, .fixed .layer3 {
    position:fixed;
    z-index:20;
}

.fixed.layer-top, .fixed .layer-top {
    position:fixed;
    z-index:999;
}

.clear {
    clear:both;
}

.clear-after:after {
    clear:both;
}

.clear-before:before {
    clear:both;
}

.clear-right {
    clear:right;
}

.clear-left {
    clear:left;
}

.no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inline {
    display:inline;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
    vertical-align:middle;
}

.inline-block.top {
    display:inline-block;
    vertical-align:top;
}


.square {
     position: relative;
     width: 25%;
     overflow: hidden;
     background: #4679BD;
}

.square:before {
     content: "";
     display: block;
     padding-top: 100%;
}

.square div  {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     color: white;
}


@include medium {

    .float-left-m {
        float:left;
    }

    .float-right-m {
        float:right;
    }

}

@include small {


    .float-left-s {
        float:left;
    }

    .float-right-s {
        float:right;
    }


}
