
$move-amount: 40px;
$move-speed: 500ms;

[anim]{
    opacity: 0;
}

[anim-enter="move-up"]{
    transform: translateY($move-amount);
    opacity: 0;
}

.in-view[anim-enter="move-up"] {
    animation-name:MoveUpEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveUpEnter  {
    0%  {
        transform:translateY($move-amount);
        opacity: 0;
    }
    100%  {
        transform: translateY(0);
        opacity: 1;
    }
}

.exit-view[anim-exit="move-up"] {
    animation-name:MoveUpExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveUpExit  {
    0%  {
        transform:translateY(0);
        opacity: 1;
    }
    100%  {
        transform: translateY(#{$move-amount - $move-amount - $move-amount});
        opacity: 0;
    }
}

[anim-enter="move-left"] {
    transform: translateX($move-amount);
    opacity: 0;
}

.in-view[anim-enter="move-left"] {
    animation-name:MoveLeftEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveLeftEnter  {
    0%  {
        transform:translateX($move-amount);
        opacity: 0;
    }
    100%  {
        transform: translateX(0);
        opacity: 1;
    }
}

.exit-view[anim-exit="move-left"] {
    animation-name:MoveLeftEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveLeftExit {
    0%  {
        transform:translateX(0);
        opacity: 1;
    }
    100%  {
        transform: translateX($move-amount);
        opacity: 0;
    }
}

[anim-enter="move-right"] {
    transform: translateX(#{$move-amount - $move-amount - $move-amount});
    opacity: 0;
}

.in-view[anim-enter="move-right"] {
    animation-name:MoveRightEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveRightEnter  {
    0%  {
        transform:translateX(#{$move-amount - $move-amount - $move-amount});
        opacity: 0;
    }
    100%  {
        transform: translateX(0);
        opacity: 1;
    }
}

.exit-view[anim-exit="move-right"] {
    animation-name:MoveRightExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveRightExit  {
    0%  {
        transform:translateX(0);
        opacity: 1;
    }
    100%  {
        transform: translateX(#{$move-amount - $move-amount - $move-amount});
        opacity: 0;
    }
}

[anim-enter="move-down"] {
    transform: translateY(#{$move-amount - $move-amount - $move-amount});
    opacity: 0;
}

.in-view[anim-enter="move-down"] {
    animation-name:MoveDownEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveDownEnter  {
    0%  {
        transform:translateY(#{$move-amount - $move-amount - $move-amount});
        opacity: 0;
    }
    100%  {
        transform: translateY(0);
        opacity: 1;
    }
}

.exit-view[anim-exit="move-down"] {
    animation-name:MoveDownExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveDownExit  {
    0%  {
        transform:translateY(0);
        opacity: 1;
    }
    100%  {
        transform: translateY($move-amount);
        opacity: 0;
    }
}

[anim-enter="open-down"]{
    max-height:0
}

.in-view[anim-enter="open-down"] {
    animation-name:OpenDown;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes SlideUpEnter  {
    0%  {
        transform:translateY(100vh);
        opacity: 1;
    }
    100%  {
        transform: translateY(0);
        opacity: 1;
    }
}

[anim-enter="slide-up"] {
    transform: translateY(100vh);
    opacity: 0;
}

.in-view[anim-enter="slide-up"] {
    animation-name:SlideUpEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes SlideLeftEnter  {
    0%  {
        transform:translateX(100vw);
        opacity: 1;
    }
    100%  {
        transform: translateX(0);
        opacity: 1;
    }
}

[anim-enter="slide-left"] {
    transform: translateX(0);
    opacity: 0;
}

.in-view[anim-enter="slide-left"] {
    animation-name:SlideLeftEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out
}

@keyframes SlideRightExit  {
    0%  {
        transform:translateX(0);
        opacity: 1;
    }
    100%  {
        transform: translateX(100vw);
        opacity: 1;
    }
}

.exit-view[anim-exit="slide-right"] {
    animation-name:SlideRightExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out
}




@keyframes SlideRightEnter  {
    0%  {
        transform:translateX(-100vw);
        opacity: 1;
    }
    100%  {
        transform: translateX(0);
        opacity: 1;
    }
}

[anim-enter="slide-right"] {
    transform: translateX(-100vw);
    opacity: 0;
}

.in-view[anim-enter="slide-right"] {
    animation-name:SlideRightEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out
}

@keyframes SlideLeftExit  {
    0%  {
        transform:translateX(0);
        opacity: 1;
    }
    100%  {
        transform: translateX(-100vw);
        opacity: 1;
    }
}

.exit-view[anim-exit="slide-Left"] {
    animation-name:SlideLeftExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out
}



@keyframes SlideDownExit  {
    0%  {
        transform:translateY(0);
        opacity: 1;
    }
    100%  {
        transform: translateY(100vh);
        opacity: 1;
    }
}

[anim-exit="slide-down"] {
    transform: translateY(0);
    opacity: 0;
}

.exit-view[anim-exit="slide-down"] {
    animation-name:SlideDownExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes OpenDown  {
    0%  {
        max-height:0
    }
    100%  {
        max-height:999px
    }
}

[anim-enter="fade-in"] {
    opacity: 0;
}

.in-view[anim-enter="fade-in"] {
    animation-name:FadeIn;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes FadeIn  {
    0%  {
        opacity: 0;
    }
    100%  {
        opacity: 1;
    }
}

.exit-view[anim-exit="fade-out"] {
    animation-name:FadeOut;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes FadeOut  {
    0%  {
        opacity: 1;
    }
    100%  {
        opacity: 0;
    }
}

[anim-enter="blur-in"] {
    opacity: 0;
}

.in-view[anim-enter="blur-in"] {
    transform: translateY(0);
    animation-name:BlurIn;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes BlurIn  {
    0%  {
        filter: blur(50px);
        opacity: 0;
    }

    50% {
        filter: blur(50px);
        opacity: 1;
    }

    100%  {
        filter: blur(0px);
        opacity: 1;
    }
}

.exit-view[anim-exit="blur-out"] {
    transform: translateY(0);
    animation-name:BlurOut;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes BlurOut  {
    0%  {
        filter: blur(0px);
        opacity: 1;
    }

    50% {
        filter: blur(50px);
        opacity: 1;
    }

    100%  {
        filter: blur(50px);
        opacity: 0;
    }
}

.in-view[anim-enter="rotate"], [anim="rotate"]{
   animation-name:spin;
   animation-iteration-count:infinite;
   animation-timing-function:linear;
}

@keyframes spin {
   from {
       transform:rotate(0deg);
   }

   to {
       transform:rotate(360deg);
   }
}

.in-view[anim-enter="bob"], [anim="bob"]{
    animation-name:MoveUpDown;
    animation-duration:2000ms;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes MoveUpDown  {
    0%  {
        transform:translateY(0);
   }

   50%  {
        transform: translateY(-10px);
   }

   100%  {
        transform: translateY(0);
   }
}

.in-view[anim-enter="flash"], [anim="flash"] {
   animation-name: flash;
   animation-duration: 1s;
   animation-iteration-count:infinite;
}

@keyframes flash  {
    0%  {
       opacity: 0.5;
   }

   50%  {
       opacity: 1;
   }

   100%  {
       opacity: 0.5;
   }
}

.in-view[anim-enter="wave"], [anim="wave"] {
   animation-name: wave;
   animation-duration: 17s;
   animation-iteration-count:infinite;
}

@keyframes wave {
  0%   { left:-2%; background: #3B44D1; }
  5%   { background: #9337FE; }
  10%  { height:10%; margin-top: -5%; background: #C532FC; }
  15%  { background: #F639F8; }
  20%  { height:34%; margin-top:-17%; background: #F236C8; }
  25%  { background: #FF2F8D; }
  30%  { height:10%; margin-top: -5%; background: #EE3860; }
  35%  { background: #DC5245; }
  40%  { height:34%; margin-top:-17%; background: #F38643; }
  45%  { background: #F8B435; }
  50%  { height:10%; margin-top: -5%; background: #FAF444; }
  55%  { background: #E0FF3B; }
  60%  { height:34%; margin-top:-17%; background: #E1FF3C; }
  65%  { background: #46F443; }
  70%  { height:10%; margin-top: -5%; background: #54E67B; }
  75%  { background: #4DF3A9; }
  80%  { height:34%; margin-top:-17%; background: #3AF9DA; }
  85%  { background: #36EBF4; }
  90%  { height:10%; margin-top: -5%; background: #3DB3F3; }
  95%  { background: #3C82F1; }
  100% { height:34%; margin-top:-17%; left:100%; background: #5B38EE; }
}
