*:focus {
    outline:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

[contenteditable]:hover {
    background-color: rgba(200,200,200,0.1)
}

input[type=text],input[type=password],input[type=email],input[type=file],input[type=date],input[type=color],input[type=number],input[type=month],input[type=search],input[type=tel],input[type=time],input[type=url],input[type=week],input[type=range] {
    position:relative;
    width: 100%;
    font:inherit;
    padding:0.55rem;
    border:none;
    height: 1.95rem;
}

input.border {
    border: 1px solid #f2f2f2;
}

textarea {
    width:100%;
    font:inherit;
    color:inherit;
    padding:0.7rem;
    border:1px solid #ccc;
    resize:none;
}

select {
    border:none;
    font:inherit;
    color:inherit;
}

input[type=radio].styled, input[type=checkbox].styled {
    display:none;
}

input[type=radio] + label:before {
    border-radius:1rem;
}

input[type=radio]:checked + label:before {
    border-radius:1rem;
    background:#aaa;
}

input[type=checkbox]:checked + label:before {
    background:#aaa;
}

select.valid,input.valid,textarea.valid {
    border:1px solid rgb(72, 222, 72)
}

select.invalid,input.invalid,textarea.invalid {
    border:1px solid rgb(222, 72, 72)
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(255,255,255);
    background-size: contain;
    padding: 0.55rem;
     border: 1px solid #ccc;
    width: 100%;
     border-radius:0;
}

input.disabled {
    pointer-events:none;
    color:#ccc;
}

.validation {
    background:#ddd;
    position:relative;
    top:0.2rem;
    float:right;
    width:20%;
    border:1px solid #ccc;
    border-left:none;
    border-top-right-radius:1rem;
    border-bottom-right-radius:1rem;
    padding:0.7rem;
    text-align:center;
    font-size:inherit;
    color:#aaa;
}

ul.dropdown {
    position:relative;
    margin:0.7rem 0 0.7rem 0;
    top:-0.5rem;
    padding:0.7rem;
    font:inherit;
    color:inherit;
    border:1px solid #ccc;
    background:white;
    z-index:999;
    cursor:pointer;
}

ul.dropdown li {
    list-style-type:none;
    margin:0;
    padding:1rem;
    width:100%;
    background:#fff;
    cursor:pointer;
}

ul.dropdown li:hover {
}

ul.dropdown li a {
    color:inherit;
}

ul.dropdown .arrow {
    position:absolute;
    float:right;
}

ul.dropdown .pulldown {
    position:absolute;
    left:-1px;
    top:2.7rem;
    width:100.5%;
    display:none;
    background:#fff;
    margin-bottom:3rem;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    z-index:999;
    max-height:30rem;
    overflow-y:auto;
}

form .text-right p {
    margin-top:0.6rem;
}
