.sortable {
    cursor: pointer;

    & > * {
        -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    }

    &-ghost {
        background-color: rgba(80,80,120,0.1)
    }

    &-drag {
        background-color: rgba(80,80,80,0.1)
    }
}
