.transparent {
    opacity:0.2;
}

.transparent-1 {
    opacity:0.4;
}

.transparent-2 {
    opacity:0.6;
}

.transparent-3 {
    opacity:0.8;
}

.transparent-4 {
    opacity:0.9;
}

.text-33 {

    &-white {
       color:#fff !important
    }

    &-blue {
       color: rgba(18, 194, 222, 1) !important
    }

    &-red {
       color: #f74879 !important
    }

    &-green {
       color: rgba(18, 222, 173, 1) !important
    }

    &-yellow {
        color: #ffd833 !important
    }

    &-pink {
        color: #ff85c1 !important
    }

    &-orange {
        color: #ffa138 !important
    }

    &-light-grey {
       color:#f2f2f2 !important;
    }

    &-grey {
       color:#ccc !important;
    }

    &-dark-grey {
       color:#555 !important;
    }

    &-black {
       color:#222 !important;
    }
}

.bg-none {
    background:none
}

.bg-cover {
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}

.bg-contain {
    background-position:center center;
    background-size:contain;
    background-repeat:no-repeat;
}

.bg-33 {

    &-black {
        background-color: rgba(20,20,20,1) !important
    }

    &-blue {
        background-color: rgba(18, 194, 222, 1) !important
    }

    &-red {
        background-color: #f74879 !important
    }

    &-purple {
        background-color: rgba(122, 34, 222, 1) !important
    }

    &-green {
        background-color: rgba(18, 222, 173, 1) !important
    }

    &-yellow {
        background-color: #ffd833 !important
    }

    &-orange {
        background-color: #ffa138 !important
    }

    &-pink {
        background-color: #ff85c1 !important
    }

    &-dark-grey {
        background-color: #323232 !important
    }

    &-grey {
        background-color: #c2c2c2 !important
    }

    &-light-grey {
        background-color: #f2f2f2 !important
    }

    &-white {
        background-color: rgba(255,255,255,1) !important
    }

    &-transparent-black {
        background-color: rgba(20,20,20,0.7) !important
    }

    &-transparent-blue {
        background-color: rgba(18, 194, 222, 0.7) !important
    }

    &-transparent-red {
        background-color: rgba(222, 34, 88, 0.7) !important
    }

    &-transparent-purple {
        background-color: rgba(122, 34, 222, 0.7) !important
    }

    &-transparent-green {
        background-color: rgba(18, 222, 173, 0.7) !important
    }

    &-transparent-yellow {
        background-color: rgba(222, 195, 18, 0.7) !important
    }

    &-transparent-orange {
        background-color: rgba(222, 116, 18, 0.7) !important
    }

    &-transparent-pink {
        background-color: rgba(222, 18, 128, 0.7) !important
    }

    &-transparent-dark-grey {
        background-color: rgba(50,50,50,0.7) !important
    }

    &-transparent-grey {
        background-color: rgba(200,200,200,0.7) !important
    }

    &-transparent-light-grey {
        background-color: rgba(200,200,200,0.7) !important
    }

    &-transparent-white {
        background-color: rgba(250,250,250,0.7) !important
    }

    &-topaz {
        background: rgba(4,213,220,1);
         background: -moz-linear-gradient(-45deg, rgba(4,213,220,1) 0%, rgba(0,64,138,1) 100%);
         background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(4,213,220,1)), color-stop(100%, rgba(0,64,138,1)));
         background: -webkit-linear-gradient(-45deg, rgba(4,213,220,1) 0%, rgba(0,64,138,1) 100%);
         background: -o-linear-gradient(-45deg, rgba(4,213,220,1) 0%, rgba(0,64,138,1) 100%);
         background: -ms-linear-gradient(-45deg, rgba(4,213,220,1) 0%, rgba(0,64,138,1) 100%);
         background: linear-gradient(135deg, rgba(4,213,220,1) 0%, rgba(0,64,138,1) 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04d5dc', endColorstr='#00408a', GradientType=1 );
    }

    &-ruby {
        background: rgba(168,3,124,1);
         background: -moz-linear-gradient(-45deg, rgba(168,3,124,1) 0%, rgba(109,0,25,1) 100%);
         background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(168,3,124,1)), color-stop(100%, rgba(109,0,25,1)));
         background: -webkit-linear-gradient(-45deg, rgba(168,3,124,1) 0%, rgba(109,0,25,1) 100%);
         background: -o-linear-gradient(-45deg, rgba(168,3,124,1) 0%, rgba(109,0,25,1) 100%);
         background: -ms-linear-gradient(-45deg, rgba(168,3,124,1) 0%, rgba(109,0,25,1) 100%);
         background: linear-gradient(135deg, rgba(168,3,124,1) 0%, rgba(109,0,25,1) 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8037c', endColorstr='#6d0019', GradientType=1 );
    }

    &-sapphire {
        background: rgba(148,3,170,1);
         background: -moz-linear-gradient(-45deg, rgba(148,3,170,1) 0%, rgba(107,0,68,1) 100%);
         background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(148,3,170,1)), color-stop(100%, rgba(107,0,68,1)));
         background: -webkit-linear-gradient(-45deg, rgba(148,3,170,1) 0%, rgba(107,0,68,1) 100%);
         background: -o-linear-gradient(-45deg, rgba(148,3,170,1) 0%, rgba(107,0,68,1) 100%);
         background: -ms-linear-gradient(-45deg, rgba(148,3,170,1) 0%, rgba(107,0,68,1) 100%);
         background: linear-gradient(135deg, rgba(148,3,170,1) 0%, rgba(107,0,68,1) 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9403aa', endColorstr='#6b0044', GradientType=1 );
    }

    &-pearl {
        background: rgba(255,255,255,1);
         background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
         background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
         background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
         background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
         background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
         background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
         color:#444 !important;
    }

    &-dream {
        background: rgba(221,227,230,1);
        background: -moz-linear-gradient(-80deg, rgba(221,227,230,1) 0%, rgba(216,225,231,1) 65%, rgba(222,218,221,1) 88%, rgba(230,227,230,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(221,227,230,1)), color-stop(65%, rgba(216,225,231,1)), color-stop(88%, rgba(222,218,221,1)), color-stop(100%, rgba(230,227,230,1)));
        background: -webkit-linear-gradient(-80deg, rgba(221,227,230,1) 0%, rgba(216,225,231,1) 65%, rgba(222,218,221,1) 88%, rgba(230,227,230,1) 100%);
        background: -o-linear-gradient(-80deg, rgba(221,227,230,1) 0%, rgba(216,225,231,1) 65%, rgba(222,218,221,1) 88%, rgba(230,227,230,1) 100%);
        background: -ms-linear-gradient(-80deg, rgba(221,227,230,1) 0%, rgba(216,225,231,1) 65%, rgba(222,218,221,1) 88%, rgba(230,227,230,1) 100%);
        background: linear-gradient(170deg, rgba(221,227,230,1) 0%, rgba(216,225,231,1) 65%, rgba(222,218,221,1) 88%, rgba(230,227,230,1) 100%);
    }

    &-emerald {
        background: rgba(4,220,123,1);
         background: -moz-linear-gradient(-45deg, rgba(4,220,123,1) 0%, rgba(0,131,138,1) 100%);
         background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(4,220,123,1)), color-stop(100%, rgba(0,131,138,1)));
         background: -webkit-linear-gradient(-45deg, rgba(4,220,123,1) 0%, rgba(0,131,138,1) 100%);
         background: -o-linear-gradient(-45deg, rgba(4,220,123,1) 0%, rgba(0,131,138,1) 100%);
         background: -ms-linear-gradient(-45deg, rgba(4,220,123,1) 0%, rgba(0,131,138,1) 100%);
         background: linear-gradient(135deg, rgba(4,220,123,1) 0%, rgba(0,131,138,1) 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04dc7b', endColorstr='#00838a', GradientType=1 );
    }

    &-puse {
        background: rgba(166,3,166,1);
         background: -moz-linear-gradient(-45deg, rgba(166,3,166,1) 0%, rgba(255,0,166,1) 100%);
         background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(166,3,166,1)), color-stop(100%, rgba(255,0,166,1)));
         background: -webkit-linear-gradient(-45deg, rgba(166,3,166,1) 0%, rgba(255,0,166,1) 100%);
         background: -o-linear-gradient(-45deg, rgba(166,3,166,1) 0%, rgba(255,0,166,1) 100%);
         background: -ms-linear-gradient(-45deg, rgba(166,3,166,1) 0%, rgba(255,0,166,1) 100%);
         background: linear-gradient(135deg, rgba(166,3,166,1) 0%, rgba(255,0,166,1) 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a603a6', endColorstr='#ff00a6', GradientType=1 );
    }

    &-lime {
        background: rgba(185,247,52,1);
        background: -moz-linear-gradient(45deg, rgba(185,247,52,1) 0%, rgba(255,255,105,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(185,247,52,1)), color-stop(100%, rgba(255,255,105,1)));
        background: -webkit-linear-gradient(45deg, rgba(185,247,52,1) 0%, rgba(255,255,105,1) 100%);
        background: -o-linear-gradient(45deg, rgba(185,247,52,1) 0%, rgba(255,255,105,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(185,247,52,1) 0%, rgba(255,255,105,1) 100%);
        background: linear-gradient(45deg, rgba(185,247,52,1) 0%, rgba(255,255,105,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9f734', endColorstr='#ffff69', GradientType=1 );
    }

    &-sunrise {
        background: rgba(51,1,28,1);
        background: -moz-linear-gradient(45deg, rgba(51,1,28,1) 0%, rgba(8,8,41,1) 73%, rgba(8,8,41,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(51,1,28,1)), color-stop(73%, rgba(8,8,41,1)), color-stop(100%, rgba(8,8,41,1)));
        background: -webkit-linear-gradient(45deg, rgba(51,1,28,1) 0%, rgba(8,8,41,1) 73%, rgba(8,8,41,1) 100%);
        background: -o-linear-gradient(45deg, rgba(51,1,28,1) 0%, rgba(8,8,41,1) 73%, rgba(8,8,41,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(51,1,28,1) 0%, rgba(8,8,41,1) 73%, rgba(8,8,41,1) 100%);
        background: linear-gradient(45deg, rgba(51,1,28,1) 0%, rgba(8,8,41,1) 73%, rgba(8,8,41,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33011c', endColorstr='#080829', GradientType=1 );
    }

    &-frosted {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background-color: rgba(255,255,255,0.1) !important;

        &-light {
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
            background-color: rgba(255,255,255,0.8) !important;
        }

        &-dark {
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
            background-color: rgba(30,30,30,0.8) !important;
        }

    }


}

.multiply {
    background-blend-mode:multiply;
}

.screen {
    background-blend-mode:screen;
}

.overlay {
    background-blend-mode:overlay;
}

.darken {
    background-blend-mode:darken;
}

.lighten {
    background-blend-mode:lighten;
}

.color {
    background-blend-mode:screen;
}

.color-dodge {
    background-blend-mode:color-dodge;
}

.color-burn {
    background-blend-mode:color-burn;
}

.saturation {
    background-blend-mode:saturation;
}

.luminosity {
    background-blend-mode:luminosity;
}

.background.multiply,.mix.multiply {
    mix-blend-mode:multiply;
}

.background.screen,.mix.screen {
    mix-blend-mode:screen;
}

.background.overlay,.mix.overlay {
    mix-blend-mode:overlay;
}

.background.darken,.mix.darken {
    mix-blend-mode:darken;
}

.background.lighten,.mix.lighten {
    mix-blend-mode:lighten;
}

.background.color,.mix.color {
    mix-blend-mode:screen;
}

.background.color-dodge,.mix.color-dodge {
    mix-blend-mode:color-dodge;
}

.background.color-burn,.mix.color-burn {
    mix-blend-mode:color-burn;
}

.background.saturation,.mix.saturation {
    mix-blend-mode:saturation;
}

.background.luminosity,.mix.luminosity {
    mix-blend-mode:luminosity;
}

.grad-white-top {
    background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1));
}

.grad-white-bottom {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1));
}

.grad-white-left {
    background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1));
}

.grad-white-right {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1));
}

.grad-white-top-right {
    background: linear-gradient(to top right, rgba(255,255,255,0) 0%, rgba(255,255,255,1));
}

.grad-white-top-left {
    background: linear-gradient(to top left, rgba(255,255,255,0) 0%, rgba(255,255,255,1));
}

.grad-white-bottom-right {
    background: linear-gradient(to bottom right, rgba(255,255,255,0) 0%, rgba(255,255,255,1));
}

.grad-white-bottom-left {
    background: linear-gradient(to bottom left, rgba(255,255,255,0) 0%, rgba(255,255,255,1));
}

.grad-black-top {
    background: linear-gradient(to top, rgba(2,2,2,0) 0%, rgba(2,2,2,1));
}

.grad-black-bottom {
    background: linear-gradient(to bottom, rgba(2,2,2,0) 0%, rgba(2,2,2,1));
}

.grad-black-left {
    background: linear-gradient(to left, rgba(2,2,2,0) 0%, rgba(2,2,2,1));
}

.grad-black-right {
    background: linear-gradient(to right, rgba(2,2,2,0) 0%, rgba(2,2,2,1));
}

.grad-black-top-right {
    background: linear-gradient(to top right, rgba(2,2,2,0) 0%, rgba(2,2,2,1));
}

.grad-black-top-left {
    background: linear-gradient(to top left, rgba(2,2,2,0) 0%, rgba(2,2,2,1));
}

.grad-black-bottom-right {
    background: linear-gradient(to bottom right, rgba(2,2,2,0) 0%, rgba(2,2,2,1));
}

.grad-black-bottom-left {
    background: linear-gradient(to bottom left, rgba(2,2,2,0) 0%, rgba(2,2,2,1));
}
