@for $i from 0 through 9 {

    $ii : $i/10;

    .p-0#{$i}, .p-0#{$i}-children > * {
        padding-top: #{$ii}rem !important;
        padding-right: #{$ii}rem !important;
        padding-bottom: #{$ii}rem !important;
        padding-left: #{$ii}rem !important;
    }

    .pt-0#{$i}, .pt-0#{$i}-children > * {
        padding-top: #{$ii}rem !important;
    }

    .pr-0#{$i}, .pr-0#{$i}-children > * {
        padding-right: #{$ii}rem !important;
    }

    .pb-0#{$i}, .pb-0#{$i}-children > * {
        padding-bottom: #{$ii}rem !important;
    }

    .pl-0#{$i}, .pl-0#{$i}-children > * {
        padding-left: #{$ii}rem !important;
    }

    .py-0#{$i}, .py-0#{$i}-children > * {
        padding-top: #{$ii}rem !important;
        padding-bottom: #{$ii}rem !important;
    }

    .px-0#{$i}, .px-0#{$i}-children > * {
        padding-left: #{$ii}rem !important;
        padding-right: #{$ii}rem !important;
    }
}

@for $i from 0 through 9 {
    .p-#{$i}, .p-#{$i}-children > * {
        padding-top: #{$i}rem !important;
        padding-right: #{$i}rem !important;
        padding-bottom: #{$i}rem !important;
        padding-left: #{$i}rem !important;
    }

    .pt-#{$i}, .pt-#{$i}-children > * {
        padding-top: #{$i}rem !important;
    }

    .pr-#{$i}, .pr-#{$i}-children > * {
        padding-right: #{$i}rem !important;
    }

    .pb-#{$i}, .pb-#{$i}-children > * {
        padding-bottom: #{$i}rem !important;
    }

    .pl-#{$i}, .pl-#{$i}-children > * {
        padding-left: #{$i}rem !important;
    }

    .py-#{$i}, .py-#{$i}-children > * {
        padding-top: #{$i}rem !important;
        padding-bottom: #{$i}rem !important;
    }

    .px-#{$i}, .px-#{$i}-children > * {
        padding-left: #{$i}rem !important;
        padding-right: #{$i}rem !important;
    }

    @for $ii from 0 through 9 {

        $iii : $ii/10 + $i;

        .p-#{$i}#{$ii}, .p-#{$i}#{$ii}-children > * {
            padding-top: #{$iii}rem !important;
            padding-right: #{$iii}rem !important;
            padding-bottom: #{$iii}rem !important;
            padding-left: #{$iii}rem !important;
        }

        .pt-#{$i}#{$ii}, .pt-#{$i}#{$ii}-children > * {
            padding-top: #{$iii}rem !important;
        }

        .pr-#{$i}#{$ii}, .pr-#{$i}#{$ii}-children > * {
            padding-right: #{$iii}rem !important;
        }

        .pb-#{$i}#{$ii}, .pb-#{$i}#{$ii}  {
            padding-bottom: #{$iii}rem !important;
        }

        .pl-#{$i}#{$ii}, .pl-#{$i}#{$ii}-children > * {
            padding-left: #{$iii}rem !important;
        }

        .py-#{$i}#{$ii},.py-#{$i}#{$ii}  {
            padding-top: #{$iii}rem !important;
            padding-bottom: #{$iii}rem !important;
        }

        .px-#{$i}#{$ii}, .px-#{$i}#{$ii}-children > * {
            padding-left: #{$iii}rem !important;
            padding-right: #{$iii}rem !important;
        }

    }

}


@include medium {
    @for $i from 0 through 9 {

        $ii : $i/10;

        .p-m-0#{$i}, .p-m-0#{$i}-children > * {
            padding-top: #{$ii}rem !important;
            padding-right: #{$ii}rem !important;
            padding-bottom: #{$ii}rem !important;
            padding-left: #{$ii}rem !important;
        }

        .pt-m-0#{$i}, .pt-m-0#{$i}-children > * {
            padding-top: #{$ii}rem !important;
        }

        .pr-m-0#{$i},.pr-m-0#{$i}-children > * {
            padding-right: #{$ii}rem !important;
        }

        .pb-m-0#{$i}, .pb-m-0#{$i}-children > * {
            padding-bottom: #{$ii}rem !important;
        }

        .pl-m-0#{$i}, .pl-m-0#{$i}-children > * {
            padding-left: #{$ii}rem !important;
        }

        .py-m-0#{$i},.py-m-0#{$i}  {
            padding-top: #{$ii}rem !important;
            padding-bottom: #{$ii}rem !important;
        }

        .px-m-0#{$i}, .px-m-0#{$i}-children > * {
            padding-left: #{$ii}rem !important;
            padding-right: #{$ii}rem !important;
        }
    }

    @for $i from 0 through 5 {
        .p-m-#{$i}, .p-m-#{$i}-children > * {
            padding-top: #{$i}rem !important;
            padding-right: #{$i}rem !important;
            padding-bottom: #{$i}rem !important;
            padding-left: #{$i}rem !important;
        }

        .pt-m-#{$i}, .pt-m-#{$i}-children > * {
            padding-top: #{$i}rem !important;
        }

        .pr-m-#{$i}, .pr-m-#{$i}-children > * {
            padding-right: #{$i}rem !important;
        }

        .pb-m-#{$i}, .pb-m-#{$i}-children > * {
            padding-bottom: #{$i}rem !important;
        }

        .pl-m-#{$i}, .pl-m-#{$i}-children > * {
            padding-left: #{$i}rem !important;
        }

        .py-m-#{$i}, .py-m-#{$i}-children > * {
            padding-top: #{$i}rem !important;
            padding-bottom: #{$i}rem !important;
        }

        .px-m-#{$i}, .px-m-#{$i}-children > * {
            padding-left: #{$i}rem !important;
            padding-right: #{$i}rem !important;
        }

        @for $ii from 0 through 9 {

            $iii : $ii/10 + $i;

            .p-m-#{$i}#{$ii}, .p-m-#{$i}#{$ii}-children > * {
                padding-top: #{$iii}rem !important;
                padding-right: #{$iii}rem !important;
                padding-bottom: #{$iii}rem !important;
                padding-left: #{$iii}rem !important;
            }

            .pt-m-#{$i}#{$ii}, .pt-m-#{$i}#{$ii}-children > * {
                padding-top: #{$iii}rem !important;
            }

            .pr-m-#{$i}#{$ii}, .pr-m-#{$i}#{$ii}-children > * {
                padding-right: #{$iii}rem !important;
            }

            .pb-m-#{$i}#{$ii}, .pb-m-#{$i}#{$ii}-children > * {
                padding-bottom: #{$iii}rem !important;
            }

            .pl-m-#{$i}#{$ii}, .pl-m-#{$i}#{$ii}-children > * {
                padding-left: #{$iii}rem !important;
            }

            .py-m-#{$i}#{$ii}, .py-m-#{$i}#{$ii}-children > * {
                padding-top: #{$iii}rem !important;
                padding-bottom: #{$iii}rem !important;
            }

            .px-m-#{$i}#{$ii}, .px-m-#{$i}#{$ii}-children > * {
                padding-left: #{$iii}rem !important;
                padding-right: #{$iii}rem !important;
            }

        }

    }
}

@include small {
    @for $i from 0 through 9 {

        $ii : $i/10;

        .p-s-0#{$i}, .p-s-0#{$i}-children > * {
            padding-top: #{$ii}rem !important;
            padding-right: #{$ii}rem !important;
            padding-bottom: #{$ii}rem !important;
            padding-left: #{$ii}rem !important;
        }

        .pt-s-0#{$i}, .pt-s-0#{$i}-children > * {
            padding-top: #{$ii}rem !important;
        }

        .pr-s-0#{$i},.pr-s-0#{$i}-children > * {
            padding-right: #{$ii}rem !important;
        }

        .pb-s-0#{$i}, .pb-s-0#{$i}-children > * {
            padding-bottom: #{$ii}rem !important;
        }

        .pl-s-0#{$i}, .pl-s-0#{$i}-children > * {
            padding-left: #{$ii}rem !important;
        }

        .py-s-0#{$i},.py-s-0#{$i}  {
            padding-top: #{$ii}rem !important;
            padding-bottom: #{$ii}rem !important;
        }

        .px-s-0#{$i}, .px-s-0#{$i}-children > * {
            padding-left: #{$ii}rem !important;
            padding-right: #{$ii}rem !important;
        }
    }

    @for $i from 0 through 5 {
        .p-s-#{$i}, .p-s-#{$i}-children > * {
            padding-top: #{$i}rem !important;
            padding-right: #{$i}rem !important;
            padding-bottom: #{$i}rem !important;
            padding-left: #{$i}rem !important;
        }

        .pt-s-#{$i}, .pt-s-#{$i}-children > * {
            padding-top: #{$i}rem !important;
        }

        .pr-s-#{$i}, .pr-s-#{$i}-children > * {
            padding-right: #{$i}rem !important;
        }

        .pb-s-#{$i}, .pb-s-#{$i}-children > * {
            padding-bottom: #{$i}rem !important;
        }

        .pl-s-#{$i}, .pl-s-#{$i}-children > * {
            padding-left: #{$i}rem !important;
        }

        .py-s-#{$i}, .py-s-#{$i}-children > * {
            padding-top: #{$i}rem !important;
            padding-bottom: #{$i}rem !important;
        }

        .px-s-#{$i}, .px-s-#{$i}-children > * {
            padding-left: #{$i}rem !important;
            padding-right: #{$i}rem !important;
        }

        @for $ii from 0 through 9 {

            $iii : $ii/10 + $i;

            .p-s-#{$i}#{$ii}, .p-s-#{$i}#{$ii}-children > * {
                padding-top: #{$iii}rem !important;
                padding-right: #{$iii}rem !important;
                padding-bottom: #{$iii}rem !important;
                padding-left: #{$iii}rem !important;
            }

            .pt-s-#{$i}#{$ii}, .pt-s-#{$i}#{$ii}-children > * {
                padding-top: #{$iii}rem !important;
            }

            .pr-s-#{$i}#{$ii}, .pr-s-#{$i}#{$ii}-children > * {
                padding-right: #{$iii}rem !important;
            }

            .pb-s-#{$i}#{$ii}, .pb-s-#{$i}#{$ii}-children > * {
                padding-bottom: #{$iii}rem !important;
            }

            .pl-s-#{$i}#{$ii}, .pl-s-#{$i}#{$ii}-children > * {
                padding-left: #{$iii}rem !important;
            }

            .py-s-#{$i}#{$ii}, .py-s-#{$i}#{$ii}-children > * {
                padding-top: #{$iii}rem !important;
                padding-bottom: #{$iii}rem !important;
            }

            .px-s-#{$i}#{$ii}, .px-s-#{$i}#{$ii}-children > * {
                padding-left: #{$iii}rem !important;
                padding-right: #{$iii}rem !important;
            }

        }

    }
}
