
$move-amount: 40px;
$move-speed: 2000ms;

[anim-enter="move-up"]{
    transform: translateY($move-amount);
    opacity: 0;
}

.in-view[anim-enter="move-up"] {
    animation-name:MoveUpEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveUpEnter  {
    0%  {
        transform:translateY($move-amount);
        opacity: 0;
    }
    100%  {
        transform: translateY(0);
        opacity: 1;
    }
}

.exit-view[anim-exit="move-up"] {
    animation-name:MoveUpExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveUpExit  {
    0%  {
        transform:translateY(0);
        opacity: 1;
    }
    100%  {
        transform: translateY(#{$move-amount - $move-amount - $move-amount});
        opacity: 0;
    }
}

[anim-enter="move-left"] {
    transform: translateX($move-amount);
    opacity: 0;
}

.in-view[anim-enter="move-left"] {
    animation-name:MoveLeftEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveLeftEnter  {
    0%  {
        transform:translateX($move-amount);
        opacity: 0;
    }
    100%  {
        transform: translateX(0);
        opacity: 1;
    }
}

.exit-view[anim-exit="move-left"] {
    animation-name:MoveLeftEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveLeftExit {
    0%  {
        transform:translateX(0);
        opacity: 1;
    }
    100%  {
        transform: translateX($move-amount);
        opacity: 0;
    }
}

[anim-enter="move-right"] {
    transform: translateX(#{$move-amount - $move-amount - $move-amount});
    opacity: 0;
}

.in-view[anim-enter="move-right"] {
    animation-name:MoveRightEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveRightEnter  {
    0%  {
        transform:translateX(#{$move-amount - $move-amount - $move-amount});
        opacity: 0;
    }
    100%  {
        transform: translateX(0);
        opacity: 1;
    }
}

.exit-view[anim-exit="move-right"] {
    animation-name:MoveRightExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveRightExit  {
    0%  {
        transform:translateX(0);
        opacity: 1;
    }
    100%  {
        transform: translateX(#{$move-amount - $move-amount - $move-amount});
        opacity: 0;
    }
}

[anim-enter="move-down"] {
    transform: translateY(#{$move-amount - $move-amount - $move-amount});
    opacity: 0;
}

.in-view[anim-enter="move-down"] {
    animation-name:MoveDownEnter;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveDownEnter  {
    0%  {
        transform:translateY(#{$move-amount - $move-amount - $move-amount});
        opacity: 0;
    }
    100%  {
        transform: translateY(0);
        opacity: 1;
    }
}

.exit-view[anim-exit="move-down"] {
    animation-name:MoveDownExit;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes MoveDownExit  {
    0%  {
        transform:translateY(0);
        opacity: 1;
    }
    100%  {
        transform: translateY($move-amount);
        opacity: 0;
    }
}

[anim-enter="fade-in"] {
    opacity: 0;
}

.in-view[anim-enter="fade-in"] {
    transform: translateY(0);
    animation-name:FadeIn;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes FadeIn  {
    0%  {
        opacity: 0;
    }
    100%  {
        opacity: 1;
    }
}

.exit-view[anim-exit="fade-out"] {
    transform: translateY(0);
    animation-name:FadeOut;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes FadeOut  {
    0%  {
        opacity: 1;
    }
    100%  {
        opacity: 0;
    }
}

[anim-enter="blur-in"] {
    opacity: 0;
}

.in-view[anim-enter="blur-in"] {
    transform: translateY(0);
    animation-name:BlurIn;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes BlurIn  {
    0%  {
        filter: blur(50px);
        opacity: 0;
    }

    50% {
        filter: blur(50px);
        opacity: 1;
    }

    100%  {
        filter: blur(0px);
        opacity: 1;
    }
}

.exit-view[anim-exit="blur-out"] {
    transform: translateY(0);
    animation-name:BlurOut;
    animation-duration:$move-speed;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes BlurOut  {
    0%  {
        filter: blur(0px);
        opacity: 1;
    }

    50% {
        filter: blur(50px);
        opacity: 1;
    }

    100%  {
        filter: blur(50px);
        opacity: 0;
    }
}

.in-view[anim-enter="rotate"], [anim="rotate"]{
   animation-name:spin;
   animation-iteration-count:infinite;
   animation-timing-function:linear;
}

@keyframes spin {
   from {
       transform:rotate(0deg);
   }

   to {
       transform:rotate(360deg);
   }
}

.in-view[anim-enter="bob"], [anim="bob"]{
    animation-name:MoveUpDown;
    animation-duration:2000ms;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes MoveUpDown  {
    0%  {
        transform:translateY(0);
   }

   50%  {
        transform: translateY(-10px);
   }

   100%  {
        transform: translateY(0);
   }
}

.in-view[anim-enter="flash"], [anim="flash"] {
   animation-name: flash;
   animation-duration: 1s;
   animation-iteration-count:infinite;
}

@keyframes flash  {
    0%  {
       opacity: 0;
   }

   50%  {
       opacity: 1;
   }

   100%  {
       opacity: 0;
   }
}
