
$move-amount = 40px;
$move-amount-back = $move-amount - $move-amount - $move-amount;
$move-speed = 600ms;

.animate {

    -webkit-transform: translate3D(0, 0, 0);

    &.fade-in-out {
        -webkit-backface-visibility: hidden;
        transition: opacity $move-speed ease-in-out;
        opacity: 0;
    }

    &.slide-from-right, &.slide-from-right-in-out {
        transition: transform $move-speed ease-in-out,  opacity $move-speed ease-in-out;
        transform: translateX(25%);
        opacity: 0
    }

    &.slide-from-left, &.slide-from-left-in-out {
        transition: transform $move-speed ease-in-out,  opacity $move-speed ease-in-out;
        transform: translateX(-25%);
        opacity: 0
    }

    &.slide-from-top, &.slide-from-top-in-out {
        transition: transform $move-speed ease-in-out,  opacity $move-speed ease-in-out;
        transform: translateY(-25%);
        opacity: 0
    }

    &.slide-from-bottom, &.slide-from-bottom-in-out {
        transition: transform $move-speed ease-in-out,  opacity $move-speed ease-in-out;
        transform: translateY(25%);
        opacity: 0
    }

    &.exit-view {

        &.fade-in-out {
            opacity: 0
        }

        &.slide-from-top, &.slide-from-bottom {
            transform: translateY(0);
            opacity: 1
        }

        &.slide-from-right, &.slide-from-left {
            transform: translateX(0);
            opacity: 1
        }

        &.slide-from-top-in-out {
            transition: transform $move-speed ease-in-out,  opacity $move-speed ease-in-out;
            transform: translateY(25%);
            opacity: 0
        }

        &.slide-from-bottom-in-out {
            transition: transform $move-speed ease-in-out,  opacity $move-speed ease-in-out;
            transform: translateY(-25%);
            opacity: 0
        }

    }

    &.in-view {

        &.fade-in-out {
            opacity: 1
        }

        &.slide-from-right, &.slide-from-left, &.slide-from-right-in-out, &.slide-from-left-in-out {
            transform: translateX(0);
            opacity: 1
        }

        &.slide-from-top, &.slide-from-bottom, &.slide-from-top-in-out, &.slide-from-bottom-in-out {
            transform: translateY(0);
            opacity: 1
        }

    }

}
