.block {
    display:block;
}

.inline-block {
    display:inline-block;
    vertical-align:middle;
    width: auto
}

@media $desktop-4k {
    .block-uhd {
        display:block;
    }
    .inline-block-uhd {
        display:inline-block;
        vertical-align:middle;
        width: auto
    }
}

@media $desktop-1080p {
    .block-hd {
        display:block;
    }
    .inline-block-hd {
        display:inline-block;
        vertical-align:middle;
        width: auto
    }
}

@media $desktop {
    .block-d{
        display:block;
    }
    .inline-block-d {
        display:inline-block;
        vertical-align:middle;
        width: auto
    }
}

@media $medium {
    .block-m {
        display:block;
    }
    .inline-block-m {
        display:inline-block;
        vertical-align:middle;
        width: auto
    }
}

@media $small {
    .block-s {
        display:block;
    }
    .inline-block-s {
        display:inline-block;
        vertical-align:middle;
        width: auto
    }
}
