button,.btn {
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 1.4rem;
    position:relative;
    cursor:pointer;
    line-height:1rem;
    border:none;
    margin:0;

    &.text-right {
        align-items: center;
        justify-content: flex-end;
    }

    &.text-center {
        align-items: center;
        justify-content: center;
    }

    &.text-left{
        align-items: center;
        justify-content: flex-start;
    }
}
