.grid {
    display:grid;
    justify-content: space-between;
}

.grid .colspan-2 {
    grid-column-end: span 2
}

.grid .colspan-3 {
    grid-column-end: span 3
}

.grid .colspan-4 {
    grid-column-end: span 4
}

.grid .colspan-5 {
    grid-column-end: span 5
}

.grid .colspan-6 {
    grid-column-end: span 6
}

.grid .colspan-7 {
    grid-column-end: span 7
}

.grid .colspan-8 {
    grid-column-end: span 8
}

.grid .colspan-9 {
    grid-column-end: span 9
}

.grid .colspan-10 {
    grid-column-end: span 10
}

.grid .colspan-11 {
    grid-column-end: span 11
}

.grid .colspan-12 {
    grid-column-end: span 12
}

.grid .rowspan-2 {
    grid-row-end: span 2
}

.grid .rowspan-3 {
    grid-row-end: span 3
}

.grid .rowspan-4 {
    grid-row-end: span 4
}

.grid .rowspan-5 {
    grid-row-end: span 5
}

.grid .rowspan-6 {
    grid-row-end: span 6
}

.grid .rowspan-7 {
    grid-row-end: span 7
}

.grid .rowspan-8 {
    grid-row-end: span 8
}

.grid .rowspan-9 {
    grid-row-end: span 9
}

.grid .rowspan-10 {
    grid-row-end: span 10
}

.grid .rowspan-11 {
    grid-row-end: span 11
}

.grid .rowspan-12 {
    grid-row-end: span 12
}

.grid .colstart-1 {
    grid-column-start: 1
}

.grid .colstart-2 {
    grid-column-start: 2
}

.grid .colstart-3 {
    grid-column-start: 3
}

.grid .colstart-4 {
    grid-column-start: 4
}

.grid .colstart-5 {
    grid-column-start: 5
}

.grid .colstart-6 {
    grid-column-start: 6
}

.grid .colstart-7 {
    grid-column-start: 7
}

.grid .colstart-8 {
    grid-column-start: 8
}

.grid .colstart-9 {
    grid-column-start: 9
}

.grid .colstart-10 {
    grid-column-start: 10
}

.grid .colstart-11 {
    grid-column-start: 11
}

.grid .colstart-12 {
    grid-column-start: 12
}

.grid.col-1 {
    grid-template-columns: 1fr;
}

.grid.col-2 {
    grid-template-columns: 1fr 1fr;
}

.grid.col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid.col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid.col-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid.col-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.col-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.col-8 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.col-9 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.col-10 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.col-11 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.col-12 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.grid.row-1 {
    grid-template-rows: 1fr;
}

.grid.row-2 {
    grid-template-rows: 1fr 1fr;
}

.grid.row-3 {
    grid-template-rows: 1fr 1fr 1fr;
}

.grid.row-4 {
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid.row-5 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.grid.row-6 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.row-7 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.row-8 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.row-9 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.row-10 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.row-11 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.row-12 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


for $i in (0..9) {

    .grid.gap-0{$i} {
        grid-gap: 10rem / $i;
    }

    .grid.gap-x-0{$i} {
        grid-gap: 10rem / $i;
    }

    .grid.gap-y-0{$i} {
        grid-gap: 10rem / $i;
    }

}

for $i in (0..9) {

    .grid.gap-{$i} {
        grid-gap: 1rem * $i;
    }

    .grid.gap-x-{$i} {
        grid-gap: 1rem * $i;
    }

    .grid.gap-y-{$i} {
        grid-gap: 1rem * $i;
    }

}

@media $medium {
    .grid.col-m-1 {
        grid-template-columns: 1fr
    }

    .grid.col-m-2 {
        grid-template-columns: 1fr 1fr
    }

    .grid.col-m-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid.col-m-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid.col-m-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-m-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-m-7 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-m-8 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-m-9 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-m-10 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-m-11 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-m-12 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-1 {
        grid-template-rows: 1fr;
    }

    .grid.row-m-2 {
        grid-template-rows: 1fr 1fr;
    }

    .grid.row-m-3 {
        grid-template-rows: 1fr 1fr 1fr;
    }

    .grid.row-m-4 {
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-5 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-6 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-7 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-8 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-9 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-10 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-11 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-m-12 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid .colspan-m-1 {
        grid-column-end: span 1
    }

    .grid .colspan-m-2 {
        grid-column-end: span 2
    }

    .grid .colspan-m-3 {
        grid-column-end: span 3
    }

    .grid .colspan-m-4 {
        grid-column-end: span 4
    }

    .grid .colspan-m-5 {
        grid-column-end: span 5
    }

    .grid .colspan-m-6 {
        grid-column-end: span 6
    }

    .grid .colspan-m-7 {
        grid-column-end: span 7
    }

    .grid .colspan-m-8 {
        grid-column-end: span 8
    }

    .grid .colspan-m-9 {
        grid-column-end: span 9
    }

    .grid .colspan-m-10 {
        grid-column-end: span 10
    }

    .grid .colspan-m-11 {
        grid-column-end: span 11
    }

    .grid .colspan-m-12 {
        grid-column-end: span 12
    }

    .grid .rowspan-m-1 {
        grid-row-end: span 1
    }

    .grid .rowspan-m-2 {
        grid-row-end: span 2
    }

    .grid .rowspan-m-3 {
        grid-row-end: span 3
    }

    .grid .rowspan-m-4 {
        grid-row-end: span 4
    }

    .grid .rowspan-m-5 {
        grid-row-end: span 5
    }

    .grid .rowspan-m-6 {
        grid-row-end: span 6
    }

    .grid .rowspan-m-7 {
        grid-row-end: span 7
    }

    .grid .rowspan-m-8 {
        grid-row-end: span 8
    }

    .grid .rowspan-m-9 {
        grid-row-end: span 9
    }

    .grid .rowspan-m-10 {
        grid-row-end: span 10
    }

    .grid .rowspan-m-11 {
        grid-row-end: span 11
    }

    .grid .rowspan-m-12 {
        grid-row-end: span 12
    }

    for $i in (0..9) {

        .grid.gap-m-0{$i} {
            grid-gap: 10rem / $i;
        }

        .grid.gap-m-x-0{$i} {
            grid-gap: 10rem / $i;
        }

        .grid.gap-m-y-0{$i} {
            grid-gap: 10rem / $i;
        }

    }

    for $i in (0..9) {

        .grid.gap-m-{$i} {
            grid-gap: 1rem * $i;
        }

        .grid.gap-m-x-{$i} {
            grid-gap: 1rem * $i;
        }

        .grid.gap-m-y-{$i} {
            grid-gap: 1rem * $i;
        }

    }
}

@media $small {
    .grid.col-s-1 {
        grid-template-columns: 1fr
    }

    .grid.col-s-2 {
        grid-template-columns: 1fr 1fr
    }

    .grid.col-s-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid.col-s-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid.col-s-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-s-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-s-7 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-s-8 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-s-9 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-s-10 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-s-11 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.col-s-12 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }


    .grid.row-s-1 {
        grid-template-rows: 1fr;
    }

    .grid.row-s-2 {
        grid-template-rows: 1fr 1fr;
    }

    .grid.row-s-3 {
        grid-template-rows: 1fr 1fr 1fr;
    }

    .grid.row-s-4 {
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .grid.row-s-5 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-s-6 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-s-7 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-s-8 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-s-9 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-s-10 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-s-11 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid.row-s-12 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid .colspan-s-1 {
        grid-column-end: span 1
    }

    .grid .colspan-s-2 {
        grid-column-end: span 2
    }

    .grid .colspan-s-3 {
        grid-column-end: span 3
    }

    .grid .colspan-s-4 {
        grid-column-end: span 4
    }

    .grid .colspan-s-5 {
        grid-column-end: span 5
    }

    .grid .colspan-s-6 {
        grid-column-end: span 6
    }

    .grid .colspan-s-7 {
        grid-column-end: span 7
    }

    .grid .colspan-s-8 {
        grid-column-end: span 8
    }

    .grid .colspan-s-9 {
        grid-column-end: span 9
    }

    .grid .colspan-s-10 {
        grid-column-end: span 10
    }

    .grid .colspan-s-11 {
        grid-column-end: span 11
    }

    .grid .colspan-s-12 {
        grid-column-end: span 12
    }

    .grid .rowspan-s-1 {
        grid-row-end: span 1
    }

    .grid .rowspan-s-2 {
        grid-row-end: span 2
    }

    .grid .rowspan-s-3 {
        grid-row-end: span 3
    }

    .grid .rowspan-s-4 {
        grid-row-end: span 4
    }

    .grid .rowspan-s-5 {
        grid-row-end: span 5
    }

    .grid .rowspan-s-6 {
        grid-row-end: span 6
    }

    .grid .rowspan-s-7 {
        grid-row-end: span 7
    }

    .grid .rowspan-s-8 {
        grid-row-end: span 8
    }

    .grid .rowspan-s-9 {
        grid-row-end: span 9
    }

    .grid .rowspan-s-10 {
        grid-row-end: span 10
    }

    .grid .rowspan-s-11 {
        grid-row-end: span 11
    }

    .grid .rowspan-s-12 {
        grid-row-end: span 12
    }

    for $i in (0..9) {

        .grid.gap-s-0{$i} {
            grid-gap: 1rem * $i;
        }

        .grid.gap-s-x-0{$i} {
            grid-gap: 1rem * $i;
        }

        .grid.gap-s-y-0{$i} {
            grid-gap: 1rem * $i;
        }

    }

    for $i in (0..9) {

        .grid.gap-s-{$i} {
            grid-gap: 1rem * $i;
        }

        .grid.gap-s-x-{$i} {
            grid-gap: 1rem * $i;

        }

        .grid.gap-s-y-{$i} {
            grid-gap: 1rem * $i;
        }

    }
}

.inline-grid {
    display:inline-grid;
    vertical-align:middle;
    width: auto
}

@media $desktop-4k {
    .grid-uhd {
        display:grid;
    }
    .inline-grid-uhd {
        display:inline-grid;
        vertical-align:middle;
        width: auto
    }
}

@media $desktop-1080p {
    .grid-hd {
        display:grid;
    }
    .inline-grid-hd {
        display:inline-grid;
        vertical-align:middle;
        width: auto
    }
}

@media $desktop {
    .grid-d{
        display:grid;
    }
    .inline-grid-d {
        display:inline-grid;
        vertical-align:middle;
        width: auto
    }
}

@media $medium {
    .grid-m {
        display:grid;
    }
    .inline-grid-m {
        display:inline-grid;
        vertical-align:middle;
        width: auto
    }
}

@media $small {
    .grid-s {
        display:grid;
    }
    .inline-grid-s {
        display:inline-grid;
        vertical-align:middle;
        width: auto
    }
}
