.hidden, .block.hidden, .flex.hidden, .grid.hidden {
    display: none;
}

@media $desktop-4k {
    .hidden-uhd, .block.hidden-uhd, .flex.hidden-uhd, .grid.hidden-uhd {
        display: none;
    }
}

@media $desktop-1080p {
    .hidden-hd, .block.hidden-hd, .flex.hidden-hd, .grid.hidden-hd {
        display: none;
    }
}

@media $desktop {
    .hidden-d, .block.hidden-d, .flex.hidden-d, .grid.hidden-d {
        display: none;
    }
}

@media $medium {
    .hidden-m, .block.hidden-m, .flex.hidden-m, .grid.hidden-m {
        display: none;
    }
}

@media $small {
    .hidden-s, .block.hidden-s, .flex.hidden-s, .grid.hidden-s {
        display: none;
    }
}
