for $i in (5..5) {

    $ii = $i/10;

    .p-0{$i} {
        padding-top: 1rem * $ii !important;
        padding-right: 1rem * $ii !important;
        padding-bottom: 1rem * $ii !important;
        padding-left: 1rem * $ii !important;
    }

    .pt-0{$i} {
        padding-top: 1rem * $ii !important;
    }

    .pr-0{$i} {
        padding-right: 1rem * $ii !important;
    }

    .pb-0{$i} {
        padding-bottom: 1rem * $ii !important;
    }

    .pl-0{$i} {
        padding-left: 1rem * $ii !important;
    }

    .py-0{$i} {
        padding-top: 1rem * $ii !important;
        padding-bottom: 1rem * $ii !important;
    }

    .px-0{$i} {
        padding-left: 1rem * $ii !important;
        padding-right: 1rem * $ii !important;
    }
}

for $i in (0..9) {
    .p-{$i} {
        padding-top: 1rem * $i !important;
        padding-right: 1rem * $i !important;
        padding-bottom: 1rem * $i !important;
        padding-left: 1rem * $i !important;
    }

    .pt-{$i} {
        padding-top: 1rem * $i !important;
    }

    .pr-{$i} {
        padding-right: 1rem * $i !important;
    }

    .pb-{$i} {
        padding-bottom: 1rem * $i !important;
    }

    .pl-{$i} {
        padding-left: 1rem * $i !important;
    }

    .py-{$i} {
        padding-top: 1rem * $i !important;
        padding-bottom: 1rem * $i !important;
    }

    .px-{$i} {
        padding-left: 1rem * $i !important;
        padding-right: 1rem * $i !important;
    }

    for $ii in (5..5) {

        $iii = $ii/10 + $i;

        .p-{$i}{$ii} {
            padding-top: 1rem * $iii !important;
            padding-right: 1rem * $iii !important;
            padding-bottom: 1rem * $iii !important;
            padding-left: 1rem * $iii !important;
        }

        .pt-{$i}{$ii} {
            padding-top: 1rem * $iii !important;
        }

        .pr-{$i}{$ii} {
            padding-right: 1rem * $iii !important;
        }

        .pb-{$i}{$ii} {
            padding-bottom: 1rem * $iii !important;
        }

        .pl-{$i}{$ii} {
            padding-left: 1rem * $iii !important;
        }

        .py-{$i}{$ii} {
            padding-top: 1rem * $iii !important;
            padding-bottom: 1rem * $iii !important;
        }

        .px-{$i}{$ii} {
            padding-left: 1rem * $iii !important;
            padding-right: 1rem * $iii !important;
        }

    }

}


@media $medium {

    for $i in (5..5) {

        $ii = $i/10;

        .p-m-0{$i} {
            padding-top: 1rem * $ii !important;
            padding-right: 1rem * $ii !important;
            padding-bottom: 1rem * $ii !important;
            padding-left: 1rem * $ii !important;
        }

        .pt-m-0{$i} {
            padding-top: 1rem * $ii !important;
        }

        .pr-m-0{$i} {
            padding-right: 1rem * $ii !important;
        }

        .pb-m-0{$i} {
            padding-bottom: 1rem * $ii !important;
        }

        .pl-m-0{$i} {
            padding-left: 1rem * $ii !important;
        }

        .py-m-0{$i}  {
            padding-top: 1rem * $ii !important;
            padding-bottom: 1rem * $ii !important;
        }

        .px-m-0{$i} {
            padding-left: 1rem * $ii !important;
            padding-right: 1rem * $ii !important;
        }
    }

    for $i in (0..9) {
        .p-m-{$i} {
            padding-top: 1rem * $i !important;
            padding-right: 1rem * $i !important;
            padding-bottom: 1rem * $i !important;
            padding-left: 1rem * $i !important;
        }

        .pt-m-{$i} {
            padding-top: 1rem * $i !important;
        }

        .pr-m-{$i} {
            padding-right: 1rem * $i !important;
        }

        .pb-m-{$i} {
            padding-bottom: 1rem * $i !important;
        }

        .pl-m-{$i} {
            padding-left: 1rem * $i !important;
        }

        .py-m-{$i} {
            padding-top: 1rem * $i !important;
            padding-bottom: 1rem * $i !important;
        }

        .px-m-{$i} {
            padding-left: 1rem * $i !important;
            padding-right: 1rem * $i !important;
        }

        for $ii in (5..5){

            $iii = $ii/10 + $i;

            .p-m-{$i}{$ii} {
                padding-top: 1rem * $iii !important;
                padding-right: 1rem * $iii !important;
                padding-bottom: 1rem * $iii !important;
                padding-left: 1rem * $iii !important;
            }

            .pt-m-{$i}{$ii} {
                padding-top: 1rem * $iii !important;
            }

            .pr-m-{$i}{$ii} {
                padding-right: 1rem * $iii !important;
            }

            .pb-m-{$i}{$ii} {
                padding-bottom: 1rem * $iii !important;
            }

            .pl-m-{$i}{$ii} {
                padding-left: 1rem * $iii !important;
            }

            .py-m-{$i}{$ii} {
                padding-top: 1rem * $iii !important;
                padding-bottom: 1rem * $iii !important;
            }

            .px-m-{$i}{$ii} {
                padding-left: 1rem * $iii !important;
                padding-right: 1rem * $iii !important;
            }

        }

    }
}

@media $small {
    for $i in (5..5) {

        $ii = $i/10;

        .p-s-0{$i} {
            padding-top: 1rem * $ii !important;
            padding-right: 1rem * $ii !important;
            padding-bottom: 1rem * $ii !important;
            padding-left: 1rem * $ii !important;
        }

        .pt-s-0{$i} {
            padding-top: 1rem * $ii !important;
        }

        .pr-s-0{$i} {
            padding-right: 1rem * $ii !important;
        }

        .pb-s-0{$i} {
            padding-bottom: 1rem * $ii !important;
        }

        .pl-s-0{$i} {
            padding-left: 1rem * $ii !important;
        }

        .py-s-0{$i}  {
            padding-top: 1rem * $ii !important;
            padding-bottom: 1rem * $ii !important;
        }

        .px-s-0{$i} {
            padding-left: 1rem * $ii !important;
            padding-right: 1rem * $ii !important;
        }
    }

    for $i in (0..9) {
        .p-s-{$i} {
            padding-top: 1rem * $i !important;
            padding-right: 1rem * $i !important;
            padding-bottom: 1rem * $i !important;
            padding-left: 1rem * $i !important;
        }

        .pt-s-{$i} {
            padding-top: 1rem * $i !important;
        }

        .pr-s-{$i} {
            padding-right: 1rem * $i !important;
        }

        .pb-s-{$i} {
            padding-bottom: 1rem * $i !important;
        }

        .pl-s-{$i} {
            padding-left: 1rem * $i !important;
        }

        .py-s-{$i} {
            padding-top: 1rem * $i !important;
            padding-bottom: 1rem * $i !important;
        }

        .px-s-{$i} {
            padding-left: 1rem * $i !important;
            padding-right: 1rem * $i !important;
        }

        for $ii in (5..5){

            $iii = $ii/10 + $i;

            .p-s-{$i}{$ii} {
                padding-top: 1rem * $iii !important;
                padding-right: 1rem * $iii !important;
                padding-bottom: 1rem * $iii !important;
                padding-left: 1rem * $iii !important;
            }

            .pt-s-{$i}{$ii} {
                padding-top: 1rem * $iii !important;
            }

            .pr-s-{$i}{$ii} {
                padding-right: 1rem * $iii !important;
            }

            .pb-s-{$i}{$ii} {
                padding-bottom: 1rem * $iii !important;
            }

            .pl-s-{$i}{$ii} {
                padding-left: 1rem * $iii !important;
            }

            .py-s-{$i}{$ii} {
                padding-top: 1rem * $iii !important;
                padding-bottom: 1rem * $iii !important;
            }

            .px-s-{$i}{$ii} {
                padding-left: 1rem * $iii !important;
                padding-right: 1rem * $iii !important;
            }

        }

    }

}
